html{
    padding: 0px;
    margin: 0px;
    height: 100%;
}
body{
    color : white ;
    background-color: #0f0f20;
    height: 100%;
    margin : 0px ;
    padding: 0px;
}
#toolbar{
    padding: 5px;
    margin-bottom: 10px;
}
#saveBtn{
    float : right ;
    margin-right: 20px;
}
#text{
    position: relative;
    display: block;
    margin : 0 auto ;
    resize : none ;
    width : 95% ;
    height: 60%;

    color : white ;
    background-color: #0d0c0c;
    border: none;
}

#text:focus{
    border: none;
    outline : none ;
}