<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Lyrics editor</title>
  <link rel="stylesheet" href="{{url_for('static', filename='editorStyle.css')}}" />
</head>

<body>
  <div id="toolbar">
    <input id="saveBtn" type="button" value="save"/>
  <h1 id="currentFilename">{{collection}} : {{filename}}</h1>
  </div>

  <textarea id="text" name="text">{{ text }}</textarea>
  <script>
    const collection = "{{ collection}}" ;
    const filename = "{{ filename }}" ;
  </script>
  <script src="{{url_for('static', filename='editorScript.js')}}"></script>
</body>

</html>